<div class="container">
  <div class="row">
    <h5>{{count}} results for "Authors"</h5>
    {{#each authors}}
      <div class="col s12 m6 l4">
        <div class="card small">
          <div class="card-image">
            <img src="{{this.portrait_url}}">
          </div>
          <div class="card-content">
            <h6 class='center'>{{this.first_name}} {{this.last_name}}</h6>
          </div>
          <div class="card-action">
            <a href="/authors/{{this.id}}">More Info</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="center">
      <ul class="pagination">
        <p>Pages</p>
        <!-- jQuery at the bottom creates the dynamic anchor links -->
      </ul>
    </div>
  <a href="/books/add" class="btn waves-effect orange accent-4">Add a Book!</a>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script type="text/javascript">
    var pages = Math.ceil( {{count}}/6 );
    var page = 1;
    while (page <= pages) {
      $('.pagination').append('<li class="list-pagination"><a href="/authors?page=' + page + '">' + page + '</a></li>')
      page++;
    }
    $('.list-pagination').removeClass('active-page')
    $('.list-pagination').eq( {{query.page}} - 1 ).addClass('active-page');
  </script>
  </div>
