<div class="container">
  <div class="row">
    <br>
    <h5>Edit {{author.first_name}} {{author.last_name}}</h5>
    <br>
    <form action="/authors/edit/{{author.id}}" method="POST">
      <div class="input-field col s12 m9 l9">
        <label for='first_name'> First Name </label>
        <input type="text" name="first_name" id='first_name' placeholer="First Name" value='{{author.first_name}}' required>
      </div>
      <div class="input-field col s12 m9 l9">
        <label for='last_name'> Last Name </label>
        <input type="text" name="last_name" id='last_name' placeholer="Last Name" value='{{author.last_name}}' required>
      </div>
      <div class="input-field col s12 m9 l9">
        <label for='portrait_url'> Author Portrait-Image URL</label>
        <input type="url" name="portrait_url" id='portrait_url' placeholer="Image URL" value='{{author.portrait_url}}' required>
      </div>
      <div class="input-field col s12 m9 l9">
        <label for='bio'> Bio </label>
        <textarea class="materialize-textarea" name="bio" id='bio' rows="8" cols="40" required>{{author.bio}}</textarea>
      </div>
      <div class="col s12 m9 l9">
        <button type="submit" class="btn orange accent-4">Confirm Changes</button>
      </div>
    </form>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class='col s12 m9 l9'>
      <br><br>
      <h5>Add a book to this Author</h5>
    </div>
    <form action="/authors/add-book-to-author" method="POST">
      <div class="input-field col s12 m9 l9">
        <input type="hidden" name="author_id" value="{{author.id}}">
        <select name="book_id">
          <option value="" disabled selected>Choose book to add</option>
          {{#each book}}
            <option value='{{this.id}}'>{{this.title}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col s12 m9 l9">
        <button type="submit" class="btn orange accent-4">Add Book</button>
      </div>
    </form>
  </div>
</div>
